{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Редактирование группы</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="d-flex gap-4">
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-fullname">Название</label>
                                    {{ form.title }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Курс</label>
                                    {{ form.course }}
                                </div>
                            </div>
                            <div class="d-flex gap-4">
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Начало урока</label>
                                    {{ form.start_time }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Аудитория</label>
                                    {{ form.room }}
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-company">Цвет для графика</label>
                                    {{ form.color }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-default-company">Дни</label>
                                {{ form.days }}
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Применить изменения</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}


    <div class="content-backdrop fade"></div>
</div>
{% endblock %}