{% load static %}
<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>My Academy</title>
    
    <meta name="description" content="Курсы разработки роботов!">
    <meta name="keywords" content="academy, myacademy, my-academy, roboacademy, robo academy">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{%  static 'assets/vendor/fonts/boxicons.css' %}">
    
    

    <!-- Core CSS -->
    <link rel="stylesheet" href="{%  static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css">
    <link rel="stylesheet" href="{%  static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css">
    <link rel="stylesheet" href="{%  static 'assets/css/demo.css' %}">

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{%  static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">
    
    

    <!-- Page CSS -->
    <!-- Page -->
<link rel="stylesheet" href="{%  static 'assets/vendor/css/pages/page-auth.css' %}">
    <!-- Helpers -->
    <script src="{%  static 'assets/vendor/js/helpers.js' %}"></script><style type="text/css">
.layout-menu-fixed .layout-navbar-full .layout-menu,
.layout-page {
  padding-top: 0px !important;
}
.content-wrapper {
  padding-bottom: 0px !important;
}</style>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{%  static 'assets/js/config.js' %}"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'GA_MEASUREMENT_ID');
    </script>
    <!-- Custom notification for demo -->
    <!-- beautify ignore:end -->

</head>

<body cz-shortcut-listen="true">

  <!-- Content -->

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="{% url 'home' %}" class="app-brand-link gap-2">
              <img src="{% static 'assets/img/logo/myacademy_logo.png' %}" style=" height: 80px;" alt="">
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">Добро пожаловать в My Academy! 👋</h4>
          <span class="mb-4">Пожалуйста войдите в свой аккаунт чтобы продолжить работу!</span>
          <p class="text-warning">Если вы преподаватель или студент, логин и пароль выдаются администратором</p>
          <form id="formAuthentication" class="mb-3" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Логин</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Введите ваш логин" autofocus="">
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Пароль</label>
                <a href="auth-forgot-password-basic.html">
                  <small>Забыли пароль?</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password" placeholder="············" aria-describedby="password">
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>

            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Войти</button>
            </div>
            {% if messages %}
            <div class="alert alert-danger" role="alert">
              {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
          </form>

        </div>
      </div>
    </div>
  </div>
</div>



  <script src="{%  static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{%  static 'assets/vendor/libs/popper/popper.js' %}"></script>
  <script src="{%  static 'assets/vendor/js/bootstrap.js' %}"></script>
  <script src="{%  static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
  <script src="{%  static 'assets/vendor/js/menu.js' %}"></script>
  <script src="{%  static 'assets/js/main.js' %}"></script>
  <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
</body></html>